/* style.css */

body {
  font-family: KoHo;
  margin: 0;
}

h1, h2, h3 {
  color: #404042;
  font-family: Poppins;
}

p {
  color: black;
  font-size: 19px;
  font-weight: 700;
 
}

a {
	font-size: 12px;
}

.conteneur {
  width: 800px;
  margin: auto;
}

.bandeau {
  background: url('images/cream 2.jpg');
  background-attachment:fixed;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  text-align: center;
}

.bandeau h1 {
  color:black;
  opacity: 0.6;
  font-size: 50px;
  margin: 0;
}

.bandeau p {
  color: #272727  ;
  font-size: 30px;
}

.bouton-bleu {
  background-color: #4460FC;
  color: white;
  opacity: 0.7;
  padding: 8px 25px;
  border-radius: 4px;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  transition: .3s;
}

.bouton-bleu:hover {
  background-color: white;
  color: blue;
}

.carte-blanche {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px 24px 0px 24px;
  margin: 14px 14px 0px 14px;
}

.carte-blanche img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.carte-blanche h3 {
  margin-bottom: 0;
}

.footer {
  background: #404042;
  text-align: center;
  padding: 18px;
}

.footer p {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.cartes {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
	padding-bottom: 25px;
}

